.history-container {
  height: auto;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  padding: 0.5rem;
}

td {
  padding: 0.5rem;
}

button {
  margin-top: auto;
}
