* {
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
}

.btn {
  border: solid 4px black;
  border-radius: 32px;
  height: 64px;
  width: 80vh;
  max-width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-weight: 100;
  cursor: pointer;
}

.filled {
  background-color: black;
  color: white;
}

.helper {
  background-color: aqua;
  border: 2px solid red;
}
.full-container {
  /* background-color: deepskyblue; */
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 0;
  padding: 0;
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.player-option {
  width: 80vw;
}

.listcontainer {
  width: 90vw;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #e1e1e1; */
  /* border: 2px solid black; */
}

.matchcontainer {
  width: 100vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #e1e1e1; */
  /* border: 2px solid black; */
}

.game {
  width: 80vw;
  display: flex;
  flex-direction: row;
}
.gamescore {
  display: flex;
  flex-direction: column;
  width: 90vw;
  padding: 5px;
  justify-content: center;
  align-items: center;
}
.score-line {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
}

.scoreinput {
  width: 40px;
  height: 40px;
  font-size: x-large;
  text-align: center;
  border: none;
  background-color: rgb(149, 182, 210);
}
.btn-container {
  background-color: rgb(149, 182, 210);
  height: 40px;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  border-radius: 45px;
}
.scoreinput-btn {
  height: 20px;
  width: 20px;
  border-radius: 40px;
  color: white;
  font-size: 30px;
  border: none;
  background-color: rgb(149, 182, 210);
  cursor: pointer;
  outline: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 5px 10px 5px 10px;
}

.buttoncontainer {
  display: flex;
  flex-direction: column;
  height: 20vh;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 25px;
}

.textField {
  width: 87vw;
  height: 7.5vh;
  border-radius: 8px;
  background-color: #e1e1e1;
  align-items: center;
  padding-left: 3vw;
  font-size: large;
}

.opponentText {
  width: 70%;
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: space-between;
  font-size: xx-large;
  font-weight: bolder;
}

.versusText {
  font-size: x-large;
  font-weight: bold;
  padding-bottom: 2vh;
}

.betterButton {
  height: 35px;
  width: 35px;
  border-radius: 3px;
  border: 0px;
  background: #e0e5ec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001,
    inset 0px 0px 0px 0px #fff9, inset 0px 0px 0px 0px #0001, inset 0px 0px 0px 0px #fff9, inset 0px 0px 0px 0px #0001;
  transition: box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.06, 0.81);
  font-size: 16px;
  color: rgba(42, 52, 84, 1);
  text-decoration: none;
}
.betterButton:active {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5), -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5), inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
}

.removeIcon {
  height: auto;
  width: 22px;
}
