* {
  margin: 0;
  padding: 0;
  user-select: none;
}

#app {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: end;
  margin-bottom: 50px;
  overflow-y: scroll;
}

i {
  fill: #072d35;
  color: white;
}

.logo {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: start;
}

.logo-container {
  position: absolute;
  top: 50px;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fafaeb;
}

.log-out-btn {
  position: absolute;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  top: 35px;
  left: 15px;
  font-size: 2rem;
  background-color: #072d35;
  padding: 8px;
  border-radius: 5px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.459);
  z-index: 1;
  cursor: pointer;
}

.btn {
  cursor: pointer;
  color: white;
  border-radius: 15px;
  height: 64px;
  width: 70%;
  max-width: 360px;
  background-color: #072d35;
  font-size: 1.5rem;
  border: 0px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.459);
  margin-top: 30px;
}

.filled {
  background-color: #ee7100;
}

.menu-container {
  position: relative;
  height: 90vh;
  /* width: 80vw; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.selected {
  color: #ee7100;
  font-weight: bold;
  text-shadow: 1px 1px 5px #ee6f007d;
}

.leaderboard-categories {
  font-size: 2rem;
}

table {
  border-radius: 10px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.505);
}

td {
  padding: 5px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: #072d35;
  color: white;
}

.date-sort-leaderboard > span {
  margin: 0 12px;
  cursor: pointer;
}

.login--inputs {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  border: 0;
  height: 30px;
  width: 48%;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.479);
}

.scoreinput {
  text-align: center;
  font-size: 1.2rem;
  background-color: white;
  color: black;
  border: 1.5px solid white;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(135, 135, 135, 0.52);
  opacity: 1; /* Firefox */
}

.match-player {
  color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.459);
  background-color: #072d35;
  display: grid;
  grid-template-columns: 150px 30px 65px 30px;
  align-items: center;
  font-size: 1.5rem;
}

.match-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  font-size: large;
  border-radius: 50%;
  background-color: #ee7100;
  border: 2px solid white;
  color: black;
}

.history-container {
  height: auto;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.history {
  display: block;
  max-height: 100%;
  overflow-y: auto;
}





.player-list{
  display: flex;
  flex-direction: column;
  background-color: #072d35;
  color: white;
  height: 30%;
  width: 70%;
  border-radius: 15px;
  margin-top: 10px;
  overflow-y: auto;
}

.del-player-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: #ee7100;
  color: black;
  font-weight: bold;
  text-align: center;
}

.waiting-list{
  background-color: #072d35;
  color: white;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.459);
}

.waiting-header{
  font-weight: bold;
}