.tournament-container {
  position: relative;
  height: 90vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.tournament-container > input {
  height: 64px;
  width: 92%;
  background-color: #e1e1e1;
  border: solid rgba(0, 0, 0, 0.5) 1px;
  border-radius: 8px;
  padding-left: 8%;
}

.tournament-container > button {
  width: 100%;
  font-weight: 600;
}

.player-list {
  background-color: #e1e1e1;
  height: 15rem;
  max-height: 15rem;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

.bracket-list {
  background-color: grey;
  height: 4rem;
  width: 80vw;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 0.25rem;
}

.rnd-mtch {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.score-input {
  width: 4rem;
}

.tm-name {
  display: flex;
  flex-direction: row;
  justify-self: flex-start;
}

.tm-score {
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
  border: 2px solid blue;
}

.rnd-title {
}

.rnd-num {
  font-style: italic;
}
